@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500&display=swap");

:root {
    /* background-color: #4158D0; */
    background-image: linear-gradient(
        43deg,
        #4158d0 0%,
        #50c8b8 46%,
        #d7da1a 100%
    );
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 60%;
    font-family: "Source Code Pro", cursive;
}

h1 {
    font-size: 5rem;
    color: #fff;
    margin-bottom: 3rem;
}
h2 {
    font-size: 4.2rem;
    margin-bottom: 3rem;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    padding: 25px;
}

#game,
#end,
#home,
#highScores {
    color: #ecf0f1;
    border-radius: 8px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.2);
    border: solid 1px rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}
.text-center {
    text-align: center;
}
.hidden {
    display: none;
}

.btn {
    font-size: 2.4rem;
    padding: 2rem 0;
    width: 30rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: rgb(28, 26, 26);
    transition: all 0.3s;
    background: linear-gradient(
        90deg,
        rgb(204, 18, 255) 0%,
        rgb(106, 8, 133) 100%
    );
    border-radius: 4px;
    outline: none;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(204, 18, 255, 0.5);
    transform: scale(1.01) translateY(-5px);
}
.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}
#highscore-btn {
    background: linear-gradient(
        90deg,
        rgb(98, 95, 11) 0%,
        rgb(240, 221, 6) 100%
    );
}

#highscore-btn:hover {
    box-shadow: 0 0.4rem 1.4rem 0 rgba(255, 255, 0, 0.5);
}

/* End Block CSS */

.end-form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30rem;
}
input {
    margin-bottom: 1rem;
    width: 20rem;
    padding: 1.5rem;
    font-size: 1.8rem;
    border: none;
    box-shadow: 0 0.1rem 1.4rem 0 rgba(123, 3, 93, 0.5);
}

input::placeholder {
    color: #aaa;
}
#username {
    margin-bottom: 3rem;
    width: 100%;
    outline: none;
}

body {
    color: #fff;
}

#highScoresList {
    list-style-type: none;
    margin-bottom: 4rem;
}

.high-score {
    font-size: 2.8rem;
    margin-bottom: 0.5rem;
}

#end-text {
    font-size: 2.4rem;
    color: #fff;
    text-align: center;
}

#saveScoreBtn {
    border: none;
}



.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 80px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}
.circles li:nth-child(11) {
    left: 1%;
    width: 220px;
    height: 220px;
    animation-delay: 0s;
    animation-duration: 37s;
}

@keyframes animate {
    0% {
        transform: translateY(-1000px) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(0) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}
